{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}CareerMatch{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
</head>

<body>


<main class="auth-main">
    
    {% if messages %}
        {% for msg in messages %}
            <div class="error">{{ msg }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</main>

</body>
</html>